/* Welcome Message Component styling */

span {
    font-size: 2rem;
    font-weight: 600;
    color:#29221e;
    text-align: center;
    margin: 0 auto;
    /* display: block; */
    padding: 1rem;
    /* background-color: #c2c2c4; */
    border-radius: 5px;
    width: 50%;
    margin-bottom: 1rem;
}