/* Project component Style */
h5 {
    font-size: 1rem;
    color: rgb(255, 254, 254);
    text-align: center;
}

h5:hover{
    color: rgb(255, 254, 254);
    text-shadow: 2px 2px 2px #050505;
    font-size: 1.2rem;
}

:root a {
   text-decoration: none;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #fafbfc00;
}

.container-styling {
    display: flex;
    justify-content: center;
}

.pic-1, 
.pic-2,
.pic-3,
.pic-4,
.pic-5,
.pic-6{
    display: flex;
    border-radius: 2px;
    box-shadow: #181818 0px 2px 5px 3px;
}