/* Resume component style */
.btn-style {
    max-width: fit-content;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}

div li {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.flex-btn {
    display: flex;
    justify-content: center;
}